.container {
    border-color:wheat;
    border-width: 1px;
    border-style: solid;
}

.node {
    stroke: wheat;
    stroke-width: 1px;
    fill-opacity: 0;
}

.currentNode {
    stroke-width: 2px;
}

.promptText {
    fill: wheat;
    font-size: 6pt;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 3pt;
    margin-right: 3pt;
}